<!-- index.ejs -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<meta name="author" content="Vincent Queimado">
		<meta name="description" content="Desafio de criação de API para cotação de seguro.">
		<title>Desafio de criação de API (projeto vSales)</title>
		<!--[if IE]><link rel="shortcut icon" href="../static/images/favicon.ico"><![endif]-->
		<link rel="icon" href="../static/images/favicon128.png">
		<link rel="stylesheet" type="text/css" href="../static/styles/home/style.css">
		<link rel="stylesheet" type="text/css" href="../static/styles/home/framework.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
	</head>

	<body>
	<div id="page-preloader"></div>

	<div id="page-deco-top"></div>
	<div id="page-deco-bottom"></div>
		
	<div id="page-background"></div>
	<div id="page-transitions">
		
		<div class="landing-page">
			<!--<a href="#" class="landing-logo"></a>-->
			<div class="title">
				<img style="width:40px; display: inline-block;" src="/static/images/favicon.png"><br>
				<span style="font-family: 'Titillium Web', sans-serif;">Desafio de criação de API (projeto vSales)</span><br>
				<span style="font-family: 'Titillium Web', sans-serif; font-size:14px; line-height: 18px;">Criar uma API básica para cotação de seguro de bike levando em conta a seguradora e o
valor do item que está sendo cotado.</span>
			</div>
			<div class="landing-icons">
				<a href="/seguros/apis"><i class="fa fa-cog"></i><em>API's</em></a>
				<a href="/seguros/app/dashboard"><i class="fa fa-rocket"></i><em>Painel de</em><em>Gestão</em></a>
				<a href="/seguros/codes"><i class="fa fa-code"></i><em>Código</em></a>
			</div>
			
			<div class="footer">
				<a href="https://br.linkedin.com/in/vincentqueimado"><i style="line-height: 32px;" class="fa fa-linkedin"></i></a>
			</div>
			
		</div>	
		
		
	</div>

	<script type="text/javascript" src="../static/scripts/home/jquery.js"></script>
	<script type="text/javascript" src="../static/scripts/home/custom.js"></script>
	<script type="text/javascript" src="../static/scripts/home/plugins.js"></script>

	</body>



</html>