<!doctype html>
<html class="no-js h-100" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
	
	<meta name="author" content="Vincent Queimado">
	<meta name="description" content="Desafio de criação de API para cotação de seguro.">
	
    <title>Sistema de Gestão para Corretoras de Seguros</title>
	
	<!--[if IE]><link rel="shortcut icon" href="static/images/icosegbike.ico"><![endif]-->
	<link rel="icon" href="../../static/images/icosegbike.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/styles/plugins/components.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/plugins/icons/icomoon/styles.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/app/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles/app/extras.1.1.0.min.css">


    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>
  
  <body class="h-100">
 

    <div class="container-fluid">
      <div class="row">
     <!-- Main Sidebar -->
               <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav style="background-color: #0593CC!important; border-bottom: 1px solid #1299d0!important; " class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="color:#fff; line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="height: 40px; padding-right: 10px; padding-left: 10px;" src="../../static/images/app/LogoSegBike.png" alt="BikeSeguros">
                 <!--<span style="font-size: .9rem;"  class=" d-md-inline ml-1">MENU PRINCIPAL</span>-->
                </div>
              </a>
              <a style="color:#fff;" class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i style="top: 0px;" class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>

          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/seguros/app/dashboard">
                  <i class="material-icons">home</i>
                  <span>Início</span>
                </a>
              </li>
			  
			  <li class="nav-item">
                <a class="nav-link active" href="/seguros/app/online_quotes">
                  <i class="material-icons">add</i>
                  <span>Nova Oportunidade</span>
                </a>
              </li>
			  
			  <li class="nav-item">
                <a class="nav-link " href="/seguros/app/oportunities_list">
                  <i class="material-icons">monetization_on</i>
                  <span>Oportunidades</span>
                </a>
              </li>
			  
			  <li class="nav-item">
                <a class="nav-link " href="/seguros/app/insured_list">
                  <i class="material-icons">people</i>
                  <span>Segurados</span>
                </a>
              </li>
	
              <li class="nav-item">
                <a class="nav-link " href="/seguros/app/insurances_list">
                  <i class="material-icons">verified_user</i>
                  <span>Seguradoras</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link " href="/seguros/app/profile">
                  <i class="material-icons">account_circle</i>
                  <span>Minha Conta</span>
                </a>
              </li>
			  
              <li class="nav-item">
                <a class="nav-link " href="/seguros/app/support">
                  <i class="material-icons">contact_support</i>
                  <span>Suporte</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
             <nav id="navbartop" style="flex-wrap: nowrap!important;" class="navbar  navbar-light flex-md-nowrap p-0">
      				   <a class="navbar-brand w-100 mr-0" href="#" style="color:#fff; line-height: 25px;">
					<div style="color:#3d5170; margin-left: 18px!important;" class="d-table m-auto">
					  <img id="main-logo" class="d-inline-block align-top mr-1" style="height: 30px; padding-right: 10px; padding-left: 10px;" src="../../static/images/app/LogoSegBike2.png" alt="Bike Seguros">
					 <!--<i class="material-icons">web</i> <span class=" d-md-inline ml-1">PAINEL DE GESTÃO </span>-->
					</div>
				  </a>
              <ul class="navbar-nav border-left flex-row ">

              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
		  
		    <div id="successNotif" style="display:none;" class="alert alert-success alert-dismissible fade show mb-0" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">×</span>
				</button>
				<i class="fa fa-check mx-2"></i>
				<div style="width: 80%; display: inline-grid;"><strong>Cadastrado!</strong> As informações do cliente foram registradas com sucesso. </div>
			</div>
		  
		  
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <i style="font-size: 0.95rem;" class="material-icons">add_circle</i> <span style="font-size: 1rem;" class="text-uppercase page-subtitle">NOVA OPORTUNIDADE</span>
                <!--<h3 class="page-title"></h3>-->
              </div>
            </div>
            <!-- End Page Header -->
			
           
            <div class="row">
				<div class="col-lg-12">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Dados da Oportunidade</h6>
                  </div>
				  
				  		<div id="loadingForm" class="blog-comments__item d-flex p-3">
							<div class="blog-comments__content">
								<div style="font-size: 0.8rem;" class="blog-comments__meta text-muted">
									Carregando formulário...
								</div>
							</div>
						</div>
				  
				  
				<form style="display:none" id="addForm" action="/seguros/api/quote/add" method="post">
				
					<h3>Dados da Bicicleta</h3>
					<fieldset>
					
						<legend>Dados da Bicicleta</legend>

						<div id="client_type" class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
						  <label class="btn btn-white active">
								<input id="bike_status" type="radio" name="bike[used]"  autocomplete="off" value="NO" checked> Bicicleta Nova
							</label>
							<label class="btn btn-white">
								<input id="bike_status" type="radio" name="bike[used]"  autocomplete="off" value="YES"> Bicicleta Usada
							</label>
						</div>
						
						<div class="form-row">
							<div style="font-size: 0.9em;" class="form-group col-md-6">
								<label id="lbl_bike_type" for="bike_type" >Tipo de bicicleta: *</label>
								<input id="bike_type" name="bike[type]" type="text" class="form-control required"  placeholder="Qual é o tipo de bicicleta?" value="" maxlength="128"> 
							</div>
						</div>
					
						<div class="form-row">
							<div style="font-size: 0.9em;" class="form-group col-md-6">
								<label id="lbl_bike_brand" for="bike_brand" >Marca: *</label>
								<input id="bike_brand" name="bike[brand]" type="text" class="form-control required"  placeholder="Qual é a marca da bicicleta?" value="" maxlength="128"> 
							</div>
			
							<div style="font-size: 0.9em;" class="form-group col-md-6">
								<label id="lbl_bike_model" for="lbl_bike_model" >Modelo: *</label>
								<input id="bike_model" name="bike[model]" type="text" class="form-control required"  placeholder="Qual é o modelo da bicicleta?" value="" maxlength="128"> 
							</div>
						</div>
						
						<div class="form-row">
							<div style="font-size: 0.9em;" class="form-group col-md-6">
								<label id="lbl_bike_year" for="bike_brand" >Ano: *</label>
								<input style="width: 60px;" id="bike_year" name="bike[year]" type="text" class="form-control required"  placeholder="2019" value="" maxlength="4"> 
							</div>
	
							<div style="font-size: 0.9em;" class="form-group col-md-6">
								<label id="lbl_bike_value" for="lbl_bike_value" >Valor (R$): *</label>
								<input style="width: 100px;" id="bike_value" name="bike[value]" type="text" class="form-control required"  placeholder="0,00" value="" maxlength="10"> 
							</div>
						</div>
						
						<div class="form-row">
							<div style="font-size: 0.9em;" class="form-group col-md-4">
								<label id="lbl_bike_serial" for="lbl_bike_serial" >N° de Série: (opcional)</label>
								<input id="bike_serial" name="bike[serial]" type="text" class="form-control"  placeholder="SN XXXX-XXXX-XXXX" value="" maxlength="32"> 
							</div>
						</div>

					</fieldset>
					
					
					<!-- <h3>Uso da Bike</h3> -->
					<!-- <fieldset> -->
					
						<!-- <legend>Questionário de uso de Bike</legend> -->
						
						<!-- <div class="form-row"> -->
							<!-- <div class="form-group col-md-12"> -->
								<!-- <label id="lbl_bike_q1" class="d-block" >Você possue acessoria esportiva?</label> -->
							<!-- </div> -->
						<!-- </div> -->
						
						<!-- <div class="form-row"> -->

							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q1_r1" name="answers[accessory]" class="custom-control-input" value="YES"> -->
								  <!-- <label class="custom-control-label" for="bike_q1_r1">Sim</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q1_r2" name="answers[accessory]" class="custom-control-input" value="NO"> -->
								  <!-- <label class="custom-control-label" for="bike_q1_r2">Não</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q1_r3" name="answers[accessory]" class="custom-control-input" value="NA"> -->
								  <!-- <label class="custom-control-label" for="bike_q1_r3">N/A</label> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <label style="margin-top: -15px; margin-bottom: 15px; margin-left: 7px;" id="answers[accessory]-error" for="answers[accessory]" class="validation-invalid-label" ></label> -->
							
						<!-- </div> -->
						
						<!-- <div class="form-row"> -->
							<!-- <div class="form-group col-md-12"> -->
								<!-- <label id="lbl_bike_q2" class="d-block" >Qual é a frequência que você pedala em uma semana?</label> -->
							<!-- </div> -->
						<!-- </div> -->
						
						<!-- <div class="form-row"> -->

							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q2_r1" name="answers[frequency]" class="custom-control-input" value="1-2"> -->
								  <!-- <label class="custom-control-label" for="bike_q2_r1">1 a 2</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q2_r2" name="answers[frequency]" class="custom-control-input" value="3-4"> -->
								  <!-- <label class="custom-control-label" for="bike_q2_r2">3 a 4</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q2_r3" name="answers[frequency]" class="custom-control-input" value="5-7"> -->
								  <!-- <label class="custom-control-label" for="bike_q2_r3">5 a 7</label> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <label style="margin-top: -15px; margin-bottom: 15px; margin-left: 7px;" id="answers[frequency]-error" for="answers[frequency]" class="validation-invalid-label" ></label> -->
						<!-- </div> -->
						
						<!-- <div class="form-row"> -->
							<!-- <div class="form-group col-md-12"> -->
								<!-- <label id="lbl_bike_q3" class="d-block" >Você participa de alguma competição?</label> -->
							<!-- </div> -->
						<!-- </div> -->
						
						<!-- <div class="form-row"> -->

							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q3_r1" name="answers[competition]" class="custom-control-input" value="YES"> -->
								  <!-- <label class="custom-control-label" for="bike_q3_r1">Sim</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q3_r2" name="answers[competition]" class="custom-control-input" value="NO"> -->
								  <!-- <label class="custom-control-label" for="bike_q3_r2">Não</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-radio mb-1" style="display:inline-block"> -->
								  <!-- <input type="radio" id="bike_q3_r3" name="answers[competition]" class="custom-control-input" value="NA"> -->
								  <!-- <label class="custom-control-label" for="bike_q1_r3">N/A</label> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <label style="margin-top: -15px; margin-bottom: 15px; margin-left: 7px;" id="answers[competition]-error" for="answers[competition]" class="validation-invalid-label" ></label> -->
							
						<!-- </div> -->
					
											
						<!-- <div class="form-row"> -->
							<!-- <div class="form-group col-md-12"> -->
								<!-- <label id="lbl_bike_q4" class="d-block" >Quais locais você mais pedala?</label> -->
							<!-- </div> -->
						<!-- </div> -->
						
						<!-- <div class="form-row"> -->
						
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-toggle custom-toggle-sm mb-1"> -->
									<!-- <input type="checkbox" id="bike_q4_ck1" name="answers[where]" class="custom-control-input" value="ESTRADA"> -->
									<!-- <label class="custom-control-label" for="bike_q4_ck1">Estrada</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-toggle custom-toggle-sm mb-1"> -->
									<!-- <input type="checkbox" id="bike_q4_ck2" name="answers[where]" class="custom-control-input" value="CIDADE"> -->
									<!-- <label class="custom-control-label" for="bike_q4_ck2">Cidade</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-toggle custom-toggle-sm mb-1"> -->
									<!-- <input type="checkbox" id="bike_q4_ck3" name="answers[where]" class="custom-control-input" value="CAMPO"> -->
									<!-- <label class="custom-control-label" for="bike_q4_ck3">Campo</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <div class="form-group col-md-3"> -->
								<!-- <div class="custom-control custom-toggle custom-toggle-sm mb-1"> -->
									<!-- <input type="checkbox" id="bike_q4_ck4" name="answers[q4]" class="custom-control-input" value="TRILHAS"> -->
									<!-- <label class="custom-control-label" for="bike_q4_ck4">Trilhas</label> -->
								<!-- </div> -->
							<!-- </div> -->
							
							<!-- <label style="margin-top: -15px; margin-bottom: 15px; margin-left: 7px;" id="answers[where]-error" for="answers[where]" class="validation-invalid-label" ></label> -->
							
						<!-- </div> -->
						

					<!-- </fieldset> -->
					
					<h3>Dados do Cliente</h3>
					<fieldset>
					
						<legend>Dados do Cliente</legend>

						<div id="client_type" class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
						  <label class="btn btn-white active">
								<input id="client_type1" type="radio" name="client[type]"  autocomplete="off" value="PF" checked> Pessoa Física 
							</label>
							<label class="btn btn-white">
								<input id="client_type2" type="radio" name="client[type]"  autocomplete="off" value="PJ"> Pessoa Jurídica 
							</label>
						</div>
					
						<div class="form-row">
							<div style="font-size: 0.9em;" class="form-group col-md-12">
								<label id="lbl_client_name" for="client[name]" >Nome completo: *</label>
								<input id="client_name" name="client[name]" type="text" class="form-control required"  placeholder="Digite o nome completo do cliente" maxlength="128" value=""> 
							</div>
						</div>
						
						<div class="form-row">
							<div style="font-size: 0.9em;" class="form-group col-md-4">
								<label id="lbl_client_identity" for="client[identity]" >CPF: *</label>
								<input id="client_identity" name="client[identity]" type="text" class="form-control required" placeholder="000.000.000-00" maxlength="18" value="" > 
							</div>
						</div>

					</fieldset>
				
					<h3>Contato do cliente</h3>
					<fieldset>
							
						<!--<strong style=" color:#5a6169; font-size: 1.0em;" class="text-uppercase text-muted d-block mb-2">Contato </strong>-->
						<legend>Contato</legend>
						
						<div class="form-row">
							<div  style="font-size: 0.9em;" class="form-group col-md-6">
								<label for="client_email">E-mail: *</label>
								<input id="client_email" name="client[contact][email]" type="email" class="form-control required" placeholder="nome@bikseg.com.br" maxlength="64" value=""> 
							</div>
						</div>
					
						<div class="form-row">
							<div  style="font-size: 0.9em;" class="form-group col-md-4">
								<label for="client_phone1">Telefone 1: *</label>
								<input id="client_phone1" name="client[contact][phone1]" type="text" class="form-control sp_celphones required" placeholder="(DD) 9 9999-9999" maxlength="16" value=""> 
							</div>
							
							<div  style="font-size: 0.9em;" class="form-group col-md-4">
								<label for="client_phone2">Telefone 2:</label>
								<input id="client_phone2" name="client[contact][phone2]" type="text" class="form-control sp_celphones" placeholder="(DD) 9 9999-9999" maxlength="16" value=""> 
							</div>
						</div>
							
					</fieldset>
					
					<h3>Endereço do cliente</h3>
					<fieldset>

						<!--<strong style=" color:#5a6169; font-size: 1.0em;" class="text-uppercase text-muted d-block mb-2">Endereço </strong>-->
						<legend>Endereço (CEP Auto!)</legend>
						
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="client_zipcode">CEP: *</label>
								<input name="client[address][zipcode]" type="text" class="form-control required" id="client_zipcode" placeholder="00000-00" value="" size="15" maxlength="9" onblur="pesquisacep(this.value);"> 
							</div>
						</div>
				
						<div class="form-row">
							<div class="form-group col-md-9">
								<label for="client_streetname">Endereço: *</label>
								<input name="client[address][streetname]" type="text" class="form-control required" id="client_streetname" placeholder="Digite o endereço" value=""  maxlength="128"> 
							</div>
							<div class="form-group col-md-3">
								<label for="client_streetnumber">Número: *</label>
								<input name="client[address][streetnumber]" type="text" class="form-control required" id="client_streetnumber" placeholder="00" value=""  maxlength="10"> 
							</div>
						</div>
						
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="client_neighborhood">Bairro: *</label>
								<input name="client[address][neighborhood]" type="text" class="form-control required" id="client_neighborhood" placeholder="Digite o bairro" value=""  maxlength="128"> 
							</div>
							
							<div class="form-group col-md-6">
								<label for="client_city">Cidade: *</label>
								<input name="client[address][city]" type="text" class="form-control required" id="client_city" placeholder="Digite a cidade" value=""  maxlength="128"> 
							</div>
							
							<div class="form-group col-md-2">
								<label for="client_state">UF: *</label>
								<input name="client[address][state]" type="text" class="form-control required" id="client_state" placeholder="Digite o estado" value=""  maxlength="2"> 
							</div>
							
							<div style="display:none" class="form-group col-md-2">
								<label for="client_country">País: *</label>
								<input name="client[address][country]" type="text" class="form-control required" id="client_state" placeholder="Digite o país" value="BRASIL"  maxlength="64"> 
							</div>
							
						</div>

						
						<br>
						<!--<button type="submit" class="btn btn-accent">Realizar Cotação</button>-->
					</fieldset>
					
					<!-- <h3>Dados do Seguro</h3> -->
					<!-- <fieldset> -->

						<!-- <!--<strong style=" color:#5a6169; font-size: 1.0em;" class="text-uppercase text-muted d-block mb-2">Endereço </strong>--> -->
						<!-- <legend>Dados do Seguro</legend> -->
						
						<!-- <div class="form-row"> -->
							<!-- <div class="form-group col-md-3"> -->
								<!-- <label for="client_zipcode">Seguradora: *</label> -->
								<!-- <input name="client[insurance][name]" type="text" class="form-control required" id="insurance_name" placeholder="" value="" maxlength="64">  -->
							<!-- </div> -->
						<!-- </div> -->
				
						
							
						<!-- </div> -->

						
						<!-- <br> -->
						<!-- <!--<button type="submit" class="btn btn-accent">Realizar Cotação</button>--> -->
					<!-- </fieldset> -->
              
		
				  
				</form>
				
                </div>
              </div>
			  
            </div>
     
          </div>
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              
            </ul>
            <span class="copyright ml-auto my-auto mr-2">Painel de gestão - Desafio vSales 2019
              <a href="" rel="nofollow"></a>
            </span>
          </footer>
        </main>
      </div>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="../../static/scripts/app/extras.1.1.0.min.js"></script>
    <script src="../../static/scripts/app/shards-dashboards.1.1.0.min.js"></script>
    <!--<script src="../../static/scripts/app/app/app-blog-overview.1.1.0.js"></script>-->
	<script src="../../static/scripts/moment.min.js"></script>
	<script src="../../static/scripts/app/jquery.mask.min.js"></script>
	<script src="../../static/plugins/wizard/steps.min.js"></script>
	<script src="../../static/plugins/validation/validate.min.js"></script>
  
  	<script>
	
	$(document).ready(function () {
		$("#loadingForm").attr("style", "display: none !important");
	});
	
		//*** Check JS Plugins
		if (!$().steps) {
				console.warn('Warning - steps.min.js is not loaded.');
		}

		if (!$().validate) {
				console.warn('Warning - validate.min.js is not loaded.');
		}
		
		//*** Wizard Form
		$("#loadingForm").attr("style", "display: none !important");
		var form_addclient = $("#addForm").show();
	 
		form_addclient.steps({
			headerTag: "h3",
			bodyTag: "fieldset",
			transitionEffect: "slideLeft",
			titleTemplate: '<span class="number">#index#</span> #title#',
			labels: {
						previous: '<i class="icon-arrow-left13 mr-2" /> Anterior',
						next: 'Próximo <i class="icon-arrow-right14 ml-2" />',
						finish: 'Realizar Cotação<i class="icon-plus2 ml-2" />'
				},
				transitionEffect: 'fade',
				autoFocus: true,
				onStepChanging: function (event, currentIndex, newIndex) {

						// Allways allow previous action even if the current form is not valid!
						if (currentIndex > newIndex) {
								return true;
						}

						// Needed in some cases if the user went back (clean up)
						if (currentIndex < newIndex) {

								// To remove error styles
								form_addclient.find('.body:eq(' + newIndex + ') label.error').remove();
								form_addclient.find('.body:eq(' + newIndex + ') .error').removeClass('error');
						}

						form_addclient.validate().settings.ignore = ':disabled,:hidden';
						return form_addclient.valid();
				},
				onFinishing: function (event, currentIndex) {
						form_addclient.validate().settings.ignore = ':disabled';
						return form_addclient.valid();
				},
				onFinished: function (event, currentIndex) {
						//alert('Cadastrado!');
						form_addclient.submit();
				}
		});
		
		
		
		//*** Initialize validation
		form_addclient.validate({
				ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
				errorClass: 'validation-invalid-label',
				highlight: function(element, errorClass) {
						$(element).removeClass(errorClass);
				},
				unhighlight: function(element, errorClass) {
						$(element).removeClass(errorClass);
				},

				// Different components require proper error label placement
				errorPlacement: function(error, element) {

					// Unstyled checkboxes, radios
					if (element.parents().hasClass('form-check')) {
						error.appendTo( element.parents('.form-check').parent() );
					}

					// Input with icons and Select2
					else if (element.parents().hasClass('form-group-feedback') || element.hasClass('select2-hidden-accessible')) {
						error.appendTo( element.parent() );
					}

					// Input group, styled file input
					else if (element.parent().is('.uniform-uploader, .uniform-select') || element.parents().hasClass('input-group')) {
						error.appendTo( element.parent().parent() );
					}

					// Other elements
					else {
						error.insertAfter(element);
					}
				},
				rules: {
					"bike[type]": {
						minlength: 1,
						maxlength: 128
					},
					"bike[brand]": {
						minlength: 1,
						maxlength: 128
					},
					"bike[model]": {
						minlength: 1,
						maxlength: 128
					},
					"bike[year]": {
						digits: true,
						minlength: 4,
						maxlength: 4,
						range: [1980, 2050]
					},
					"bike[value]": {
						minlength: 1,
						maxlength: 10
					},
					"bike[serial]": {
						minlength: 1,
						maxlength: 32
					},
					
					"answers[accessory]": {
						required :true
					},
					"answers[frequency]": {
						required :true
					},
					"answers[competition]": {
						required :true
					},
					"answers[where]": {
						required :true
					},
			
					"client[name]": {
						minlength: 1,
						maxlength: 128
					},
					"client[identity]": {
						minlength: 14,
						maxlength: 18
					},

					"client[contact][email]": {
						email:true,
						minlength: 1,
						maxlength: 64
					},
					"client[contact][phone1]": {
						minlength: 1,
						maxlength: 16
					},
					"client[contact][phone2]": {
						minlength: 1,
						maxlength: 16
					},
				},
				messages: {
					"bike[type]": {
						required: 'Tipo de bike obligatório'
					},
					"bike[brand]": {
						required: 'Marca de bike obligatório'
					},
					"bike[model]": {
						required: 'Modelo de bike obligatório'
					},
					"bike[year]": {
						required: 'Ano de fabricação obligatório',
						digits: "Ano inválido",
						range: jQuery.validator.format("Ano entre {0} e {1}"),
					},
					"bike[value]": {
						required: 'Valor estimado obligatório'
					},
					
					"answers[accessory]": {
						required: 'Resposta obligatório'
					},
					"answers[frequency]": {
						required: 'Resposta obligatório'
					},
					"answers[competition]": {
						required: 'Resposta obligatório'
					},
					"answers[where]": {
						required: 'Escolha obligatório'
					},
					
					"client[type]": {
						required: 'Tipo de cliente obligatório'
					 },
					
					"client[name]": {
						required: 'Nome do cliente obligatório'
					 },
					"client[identity]": {
						required: 'Numéro de CPF ou CNPJ obligatório',
						minlength: jQuery.validator.format("CPF ou CNPJ inválido"),
					},
					
					"client[contact][email]": {
						required: 'E-mail obligatório',
						email: "E-mail inválido"
					},
					"client[contact][phone1]": {
						required: 'Numéro de telefone obligatório'
					 },
					"client[contact][phone2]": {
						required: 'Numéro de telefone obligatório'
					 },
					 
					"client[address][zipcode]":  {
						required: 'CEP obligatório'
					},
					"client[address][streetname]":  {
						required: 'Endereço obligatório'
					},
					"client[address][streetnumber]":  {
						required: 'Numéro do endereço obligatório'
					},
					"client[address][neighborhood]":  {
						required: 'Bairro obligatório'
					},
					"client[address][city]":  {
						required: 'Cidade obligatório'
					},
					"client[address][state]":  {
						required: 'Estado obligatório'
					},
					"client[address][country]":  {
						required: 'País obligatório'
					}
			 }
		});
		
		//*** Client type change
		$('#client_identity').mask('000.000.000-00', {reverse: true});
		
		$("input:radio[name='client[type]']").change(function() {
			console.log('Change client type!');
			switch( $("input:radio[name='client[type]']:checked").val() ) {
				case 'PF' :
					$('#client_identity').val('');
					$("#lbl_client_name").html("Nome Completo: *");
					$("#lbl_client_identity").html("CPF: *");
					$("#client_name").attr("placeholder", "Digite o nome completo do cliente");
					$("#client_identity").attr("placeholder", "000.000.000-00");
					$('#client_identity').mask('000.000.000-00', {reverse: true});
					break;
				case 'PJ' :
					$('#client_identity').val('');
					$("#lbl_client_name").html("Razão Social: *");
					$("#lbl_client_identity").html("CNPJ: *");
					$("#client_name").attr("placeholder", "Digite a razão social do cliente");
					$("#client_identity").attr("placeholder", "00.000.000/0000-00");
					$('#client_identity').mask('00.000.000/0000-00', {reverse: true});
					break;
			}            
		});
		
		 $("#addForm").submit(function(e) {

			var form = $(this);
			var url = form.attr('action');

			$.ajax({
				   type: "POST",
				   url: url,
				   data: form.serialize(), // serializes the form's elements.
				   success: function(data)
				   {
					   console.log(data); 
					   $('#successNotif').fadeIn('slow').delay(5000).fadeOut('slow');
					   $('#addForm')[0].reset();
					   $('#addForm-t-0').click();
					   $(window).scrollTop($('#navbartop').offset().top );
					   
				   }
				 });

			e.preventDefault(); // avoid to execute the actual submit of the form.
		});
		
		
		function addBike(){
		
		}
		
		function addClient(){
		
		}
		
		function addOportunity(){
		
		}
		
			
			
		//*** Year Format
		$('#bike_year').mask("0000");
		
		//*** Money Format
		$('#bike_value').mask("#.##0,00", {reverse: true});
		
		
		//*** ZIP Code finder
		
		$('#client_zipcode').mask('00000-000');
		
		function limpa_formulário_cep() {
				//Limpa valores do formulário de cep.
				document.getElementById('client_streetname').value=("");
				document.getElementById('client_neighborhood').value=("");
				document.getElementById('client_city').value=("");
				document.getElementById('client_state').value=("");
				//document.getElementById('client_ibge').value=("");
		}

		function meu_callback(conteudo) {
			if (!("erro" in conteudo)) {
				//Atualiza os campos com os valores.
				document.getElementById('client_streetname').value=(conteudo.logradouro.toUpperCase());
				document.getElementById('client_neighborhood').value=(conteudo.bairro.toUpperCase());
				document.getElementById('client_city').value=(conteudo.localidade.toUpperCase());
				document.getElementById('client_state').value=(conteudo.uf.toUpperCase());
				//document.getElementById('client_ibge').value=(conteudo.ibge);
			} //end if.
			else {
				//CEP não Encontrado.
				limpa_formulário_cep();
				alert("CEP não encontrado.");
			}
		}
		
		function pesquisacep(valor) {

			//Nova variável "cep" somente com dígitos.
			var cep = valor.replace(/\D/g, '');

			//Verifica se campo cep possui valor informado.
			if (cep != "") {

				//Expressão regular para validar o CEP.
				var validacep = /^[0-9]{8}$/;

				//Valida o formato do CEP.
				if(validacep.test(cep)) {

					//Preenche os campos com "..." enquanto consulta webservice.
					document.getElementById('client_streetname').value="...";
					document.getElementById('client_neighborhood').value="...";
					document.getElementById('client_city').value="...";
					document.getElementById('client_state').value="...";
					//document.getElementById('client_ibge').value="...";

					//Cria um elemento javascript.
					var script = document.createElement('script');

					//Sincroniza com o callback.
					script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';


					//Insere script no documento e carrega o conteúdo.
					document.body.appendChild(script);
					
					$('#client_streetnumber').focus().select()

				} //end if.
				else {
					//cep é inválido.
					limpa_formulário_cep();
					alert("Formato de CEP inválido.");
				}
			} //end if.
			else {
				//cep sem valor, limpa formulário.
				limpa_formulário_cep();
			}
		};
		

		//*** Telephone Format
		var SPMaskBehavior = function (val) {
			return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
		},
		spOptions = {
			onKeyPress: function(val, e, field, options) {
				field.mask(SPMaskBehavior.apply({}, arguments), options);
			 }
		};
		

		$('.sp_celphones').mask(SPMaskBehavior, spOptions);
		
		
		//*** Uppercase Format
		$('#bike_type').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_type').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_brand').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_brand').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_model').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_model').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_serial').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#bike_serial').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_name').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_name').blur(function() {
		  this.value = this.value.toUpperCase();
		});
		
		$('#client_email').keyup(function(){
			this.value = this.value.toUpperCase(); //.toLowerCase();
		});
		
		$('#client_email').blur(function(){
			this.value = this.value.toUpperCase(); //.toLowerCase();
		});
		
		$('#client_zipcode').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_zipcode').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_streetname').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_streetname').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_streetnumber').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_streetnumber').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_neighborhood').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_neighborhood').blur(function(){
			this.value = this.value.toUpperCase();
		});

		$('#client_city').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_city').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_state').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_state').blur(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_country').keyup(function(){
			this.value = this.value.toUpperCase();
		});
		
		$('#client_country').blur(function(){
			this.value = this.value.toUpperCase();
		});
	
	</script>

  
  </body>
</html>